<div id="box-autos">
    <h1 class="animated fadeIn">Autos</h1>

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card-columns">

            <div class="card">
                <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    <button type="button" class="btn btn-outline-info w-100">mas info</button>
                </div>
            </div>


            


            </div>
        </div>
    </div>
</div>
